<div class="plant-add-container">
  <form>
    <div class="input-container">
      <label>PLANT NAME</label>
      <input type="text" name="plant_name">
      <label>PLANT LOCATION</label>
      <input type="text" name="plant_location">
      <label>LAST WATTERED DATE</label>
      <input type="date" name="waterred_date">
      <label>DAYS BETWEEN HYDRATE</label>
      <input type="number" name="days_between_watered">
      <label>PLANT IMAGE</label>
      <ng-container *ngIf="image">
        <img [src]="image" alt="selected image">
      </ng-container>
      <div class="dropzone" appDragAndDrop (fileDropped)="onImageDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" accept="image/*" (change)="imageBrowsedHandler($event)"/>
        <i class="fa-solid fa-file-circle-plus"></i>
        <h3>Drag and drop file here</h3>
      </div>
    </div>
    <button type="submit" class="plant-add-button">DONE</button>
  </form>
</div>
