<div class="plant-add-container">
  <form [formGroup]="addPlantForm" (submit)="confirmAdd()">
    <div class="input-container">
      <label for="plant-name">PLANT NAME</label>
      <input type="text" id="plant-name" formControlName="plantName">
      <label for="plant-location">PLANT LOCATION</label>
      <input type="text" id="plant-location" formControlName="plantLocation">
      <label for="waterred-date">LAST WATTERED DATE</label>
      <input type="date" id="waterred-date" formControlName="waterredDate">
      <label for="days-between-watered">DAYS BETWEEN HYDRATE</label>
      <input type="number" id="days-between-watered" formControlName="daysBetweenHydrate">
      <label>PLANT IMAGE</label>
      <ng-container *ngIf="image">
        <img [src]="image" alt="selected image">
      </ng-container>
      <app-drag-and-drop (onImagePrepared)="prepareImage($event)"></app-drag-and-drop>
    </div>
    <button type="submit" class="plant-add-button">DONE</button>
  </form>
</div>
