.dropzone{
  height: fit-content;
  padding: 1rem;
  text-align: center;
  background-color: var(--primary-color-400);
  position: relative;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--primary-color-900);
  transition: 0.3s;
  i{
    font-size: 3rem;
    padding: 1rem;
  }
  input{
    position: absolute;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  input:hover{
    cursor: pointer;
  }
}
.dropzone:hover{
  transform: scale(1.10);
}

.fileover{
  animation: pulse 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
