<header>
  <nav>
    <div class="brand-section">
      <i class="fa-solid fa-bars"></i>
      <a class="brand-name" href="">
        <img class="brand-logo" src="../assets/logo.svg" alt="logo" aria-hidden="true"/>
        WATERING PLANT
      </a>
    </div>
    <div class="search-section">
      <input type="text" placeholder="Filter by plant"/>
      <button>
        <i class="fa-solid fa-search"></i>
      </button>
    </div>
    <div class="account-section">
      <button>Login</button>
    </div>
  </nav>
</header>
<main>
  <section class="content">
    <router-outlet>
    </router-outlet>
  </section>
</main>
<footer>
    <div class="contact-section">
      <div class="brand-section">
        <a class="brand-name" href="">
          <img class="brand-logo" src="../assets/logo.svg" alt="logo" aria-hidden="true"/>
          WATERING PLANT
        </a>
      </div>
      <p>
        Make sure your plants are in safe hands.<br>
        Join us in growing everyday!
      </p>
      <div class="social-container">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
      <p>
        Copyrigths &#64; 2024 Jorchar
      </p>
    </div>
    <div class="newsletter-section">
      <h1>NEWSLETTER</h1>
      <p>Subcribe to our newsletter for regular updates</p>
      <form>
        <input type="email" name="email" placeholder="your@email.com">
        <button type="submit" class="newsletter-button">
          I'm in!
        </button>
      </form>
    </div>
</footer>
