.drawer-container{
  position: relative;
  z-index: 4;
  height: 70vh;
  background: linear-gradient( rgba(220, 255, 120, 0.5), rgba(220, 255, 120, 0.5) ), url('../assets/plant_bg.jpg');
  background-size: cover;
  mat-drawer{
    width: 250px;
    background-color: var(--primary-color-300);
    padding: 7px 15px;
    a{
      font-size: large;
      padding-bottom: 7px;
    }
  }
}
.content {
  margin: 60px 10px 20px 10px;
}
nav {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: var(--primary-color-400);
  padding: 7px 16px;
  box-shadow: 0 5px 5px var(--primary-color-700);
  div {
    display: flex;
  }
  .brand-section {
    i{
      border-radius: 15px;
      padding: 15px;
      cursor: pointer;
      transition: 0.3s;
    }
    i:hover {
      background-color: var(--primary-color-300);
      box-shadow: 0 0 5px var(--primary-color-300);
    }
  }
  .search-section{
    justify-content: center;
    flex-grow: 1;
    input[type="text"] {
      font-size: 1.2rem;
      flex-basis: 50%;
      border: solid 1px var(--primary-color-900);
      padding: 15px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    button{
      padding: 0 25px;
      border-left: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  .account-section{
    button{
      border-radius: 25px;
    }
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  padding: 30px;
  background-color: var(--primary-color-400);

  @media only screen and (max-width: 800px) {
    div{
      text-align: center;
      justify-content: center;
    }
    form{
      justify-content: center;
    }
  }
  div {
    min-width: fit-content;
    flex: 1;
  }
  .newsletter-section {
    h1 {
      padding-bottom: 10px;
    }
    form {
      display: flex;
      align-items: center;
      padding: 10px 0;
      input[type=email]{
        height: 35px;
        border: solid 1px var(--primary-color-900);
        margin-right: 7px;
        padding-left: 7px;
      }
      button {
        height: 35px;
      }
    }
  }
  i {
    padding: 10px;
    margin: 8px;
    border-radius: 50%;
    background-color: var(--primary-color-200);
    transition: 0.3s;
  }
  i:hover {
    color: white;
    background-color: var(--primary-color-900);
  }
}

a {
  text-decoration: none;
  color: var(--primary-color-900);
  display: flex;
  align-content: center;
}
.brand-section {
  display: flex;
  justify-content: left;
  align-items: center;
  .brand-logo {
    height: 2.5rem;
  }
  .brand-name {
    font-size: 2rem;
    padding: 7px;
  }
}
