.content {
  margin: 60px 10px 10px 10px;
}
nav {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--primary-color-400);
  padding: 7px 16px;
  box-shadow: 0px 5px 5px var(--primary-color-700);
  a {
    text-decoration: none;
    color: var(--primary-color-900);
  }
  div {
    display: flex;
  }
  .brand-section{
    justify-content: left;
    align-items: center;
    .brand-name {
      font-size: 2rem;
    }
    .brand-logo {
      height: 3rem;
      padding: 5px;
    }
  }
  .search-section{
    justify-content: center;
    flex-grow: 2;
    input[type="text"] {
    font-size: 1.2rem;
      flex-basis: 50%;
      border: solid 1px var(--primary-color-900);
      padding: 15px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    button{
      border-left: 0px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }

  .account-section{
    button{
      border-radius: 25px;
    }
  }

  .icon {
    color: var(--primary-color-900);
    margin: 7px;
  }
}
