<header>
  <nav>
    <div class="brand-section">
      <mat-icon class="icon">menu</mat-icon>
      <a href="">
        <img class="brand-logo" src="../assets/logo.svg" alt="logo" aria-hidden="true"/>
      </a>
      <a class="brand-name" href="">WATERING PLANT</a>
    </div>
    <div class="search-section">
      <input type="text" placeholder="Filter by plant"/>
      <button>Search</button>
    </div>
    <div class="account-section">
      <button>Login</button>
    </div>
  </nav>
</header>
<main>
  <section class="content">
    <router-outlet>
    </router-outlet>
  </section>
</main>


